* {
    margin: 0px;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Comfortaa', cursive;
    src: url(https://fonts.googleapis.com/css?family=Comfortaa&display=swap);
    font-family: 'Poppins', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Poppins&display=swap);
}

@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }

/* Custom properties/variables  */
:root {
    --main-yellow: #E3B23C;
    --main-smoke: #7B7F76;
    --med-grey: #A8ADA4;
    --light-grey: #D0DDD7;
    --main-navy: #4B4C5E;
  }

#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    font-family: 'Comfortaa', cursive;
    /*box-shadow: 0 2px 0  rgba(0, 0, 0, 0.2);*/
}  

.navlist {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

li {
    list-style: none;
    color: black;
    font-size: 1rem;
}

.list-item:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

a {
    text-decoration: none;
    color: black;
}

#welcome-section {
    height: 100vh;
    background: linear-gradient(90deg, #f2f2f2 50%, #e8c368 50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    
}
#welcome-section h1 {
    display: flex;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 10px;
    color: black;
    margin-left: 40px;
    vertical-align: center;
    font-size: 175px;
}

#welcome-section p {
    display: flex;
    justify-content: flex-end;
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
}

/*@keyframes typing{
    from { width: 0 }
    to { width: 100% }
}*/

img {
    max-height: 200px;
}

#projects {
    background-image: url('https://images.pexels.com/photos/2516653/pexels-photo-2516653.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#projects-header {
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 50px;
    font-family: 'Comfortaa', cursive;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-evenly;
}

.project-tile {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background: #f2f2f2;
}

.project-image {
    height: clac(100% - 6.8rem);
    object-fit: cover;
    width: 300px;
    padding: 20px;
    padding-bottom: 20px;
}

.text {
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Comfortaa', cursive;
}

.text:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
/*
.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: gray;
}

.project:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
*/

#contact {
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#contact h3 {
    text-align: center;
    padding: 30px;
    font-family: 'Comfortaa', cursive;
}
#contact h1 {
    font-size: 50px;
    font-family: 'Comfortaa', cursive;
}

.icon {
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.icon:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

footer {
    display: flex;
    justify-content: center;
    background-image: url('https://images.pexels.com/photos/2516653/pexels-photo-2516653.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    font-family: 'Comfortaa', cursive;
}

footer p {
    padding: 10px;
}